<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
</head>
<body>
    <h1>Каталог</h1>
    <p>Сортировать по:</p>
    <ul>
        <li><a href="?sort=name">названию</a></li>
        <li><a href="?sort=price_asc">начиная с дешёвых</a></li>
        <li><a href="?sort=price_desc">начиная с дорогих</a></li>
    </ul>
    <div>
        {% for phone in phones %}
            <div>
                <h2><a href="{% url 'phone_detail' slug=phone.slug %}">{{ phone.name }}</a></h2>
                <p>Стоимость: {{ phone.price }} ₽</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
